name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

jobs:

  standard:

    strategy:
      fail-fast: false

    defaults:
      run:
        shell: bash -l {0}

    name: ${{ matrix.code }}
    runs-on: ubuntu-latest

    steps:

    - name: Basic GitHub action setup
      uses: actions/checkout@v2

    - name: Set conda environment
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: environment.yaml
        environment-name: myenv

    - name: Configure
      run: cmake -Bbuild

    - name: Build
      working-directory: build
      run: make

    - name: Test
      working-directory: build
      run: |
        cp ../example.py .
        python example.py
